NEXT_PUBLIC_SITE_URL=https://calc.bongworks.co.kr
NEXT_PUBLIC_GA_MEASUREMENT_ID=
# This is a public build-time publisher ID. Leave it blank to keep AdSense fully disabled.
NEXT_PUBLIC_ADSENSE_CLIENT_ID=
GOOGLE_SITE_VERIFICATION=
NAVER_SITE_VERIFICATION=
